# Core dependencies
numpy==1.25
python-crfsuite==0.9.9
sentencepiece==0.2.0
cached-path==1.5.0

# TensorFlow + compatible addons
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-addons==0.21.0

# Optional for plotting or visualization
matplotlib==3.7.4
